#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "ttrss"
name = "Tiny Tiny RSS"
description.en = "News feed (RSS/Atom) reader and aggregator"
description.fr = "Lecteur de flux d’actualité utilisant les protocoles RSS et Atom"

version = "2026.01.28~ynh1"

maintainers = []

[upstream]
license = "GPL-3.0-only"
admindoc = "https://github.com/tt-rss/tt-rss/wiki"
code = "https://github.com/tt-rss/tt-rss"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/ttrss"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]

    url = "https://github.com/tt-rss/tt-rss/archive/c625ca6b7c6950580c68a70594894d1755d2badf.tar.gz"
    sha256 = "ac947b7d563fa1513363b2e0adc32f6a387eabc40cf503a94ce858cb761dc24e"
    
    autoupdate.upstream = "https://github.com/tt-rss/tt-rss"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    public.url = "/public.php"
    public.allowed = "visitors"
    public.show_tile = false
    public.protected = true

    api.url = "/api"
    api.auth_header =false
    api.show_tile = false
    api.protected = true
    api.allowed = "visitors"

    [resources.apt]
    packages = "postgresql, php8.4-pgsql, php8.4-curl, php8.4-gd, php8.4-opcache, php8.4-fileinfo, php8.4-intl, php8.4-cli, php8.4-mbstring, php8.4-xml"

    [resources.database]
    type = "postgresql"
