#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

    # ------------
    # Tests to run
    # ------------

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------

    #test_upgrade_from.8cca9c83cfa2a415ba68e97fcd1ee9dff3c761be.name = "Upgrade from 2025.03.22~ynh1"
    # test_upgrade_from.009f9564.name = "Upgrade from 20220606"
