Description=TTRSS: News feed reader and aggregator
After=network.target postgresql.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=/usr/bin/php__PHPVERSION__ __INSTALL_DIR__/update_daemon2.php
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
